<template name="footer">
  <div class="footer">

    <div class="footer-left col-lg-6 col-md-6 col-sm-6">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4">
        <p class="footer-subtitle">
          About
        </p>
        <p style="font-size: 20px;">
           RPI Petitions is a place for sparking change at Rensselaer. Share ideas with the RPI community, gain Student Senate support, and influence decision making.
        </p>
        <p style="font-size: 15px;">
          <br>
          <a href="https://github.com/ritstudentgovernment/petitions">
            <span class="glyphicon glyphicon-link"></span>
            Created by the RIT Student Government 2014 &copy;
          </a>
          <br>
	        <a href="https://github.com/wtg/petitions">
	        <span class="glyphicon glyphicon-link"></span>
	        Forked by the RPI Web Technologies Group 2014 &copy;
          <img class="footer-wtg-logo" src="/wtglogo_transp.png" />
          <img class="footer-ss-logo" src="/rpiss_logo.png" />
          </a>
        </p>
      </div>
    </div>

    <div class="footer-right col-lg-6 col-md-6 col-sm-6">
      <div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-1">
        <p class="footer-subtitle">
          Learn More
        </p>
        <p>
          <a href="{{pathFor 'about'}}">About RPI Petitions</a>
          <br>
          <a href="{{pathFor 'petitionProcess'}}">Petition Process</a>
          <br>
          <a href="{{pathFor 'moderation'}}">Moderation</a>
          <br>
          <a href="{{pathFor 'api'}}">API Access</a>
        </p>
      </div>
      <div class="col-sm-3 footer-count">
        <div class="footer-subtitle">
          Petitions
        </div>
        <h2 class="count">
          {{ singleton.postsCount }}
        </h2>
      </div>
    </div>

  </div>
</template>
