<template name="about">
  <div class="row-fluid">
    <h2 class="text-center lone-header"><p>About</p></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin">
          History
        </h3>
      </div>
      <div class="panel-body">
        <p> 
        RPI Petitions is the proud result of a collaborative effort between student leaders across multiple universities, with a common goal of increased transparency and collaborative communal activism.  This site is a Rensselaer-centric adoption of the Rochester Institute of Technology’s open-source PawPrints platform, encouraging students to participate in their community by creating, signing, and promoting their individual causes through a digital petition system.  
        </p>
        <p>
        The Rensselaer Union 45th Student Senate, led by Grand Marshal Kyle Keraga '15, sought to create a system providing direct support for student concerns, thoughts, and ideas.  In Fall 2014, RIT's Student Government, led by Ashley Carrington '15, implemented PawPrints, an open-source petition website encouraging a stronger student voice and collaborative campus activism.  
        </p>
        <p>
        In a unique collaboration between student governments, Keraga connected with Carrington to kickstart deployment of an open-source branch site for Rensselaer adoption.  Senate Chief Information Officer Gabe Perez '16 and the Web Technologies Group led all development through an extensive coding effort with a focus on remaining open-source and accessible, while Rules and Elections Chair Paul Ilori '17 spearheaded the creation of rules and procedures to govern the site's long-term use.
        </p>
        <p>
        RPI Petitions was formally released on March 18th, 2015. Any student is welcome to create a petition, advertise its presence, and gain support for their ideas.    
        </p>
      </div>
    </div>
  </div>
</template>