<template name="about">
  <div class="row-fluid">
    <h2 class="text-center lone-header"><p>About</p></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin">
          History
        </h3>
      </div>
      <div class="panel-body">
        <p> 
          RPI Petitions is a Rensselaer-centric adoption of RIT’s open-source PawPrints platform, encouraging students to participate in their community by creating, signing, and advertising petitions.   
        </p>
      </div>
    </div>
  </div>
</template>