<template name="about">

    <div class="row-fluid">
      <h2 class="text-center lone-header"><p>About</p></h2>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="no-margin">
            History
          </h3>
        </div>
        <div class="panel-body">
          <p> Created by the RIT student government, PawPrints is an open source petition site where students can have their voices heard. </p>
	  <p> The Web Technologies Group, a commmittee of the RPI Student Senate, became interested in adopting this platform when a passionate 
              WTG alumn mentioned the open source project. After forking the code base and making adjustments for use at Rensselaer, the petitions
	      site was ready for deployment. Any student is welcome to create a petition, advertise its prescence, and make their issue heard. 
	  </p>
	</div>
      </div>
    </div>

</template>
