<template name="moderation">

  <h2 class="text-center lone-header">Moderation Policy</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin"> Moderation Policy </h3>
    </div>
    <div class="panel-body">
      <p>
      The Rensselaer Union Student Senate empowers the Rules and Elections Committee and Web Technologies Group with moderating privileges on the RPI Petitions website.  Petitions deemed inappropriate may be removed from the site at the discretion of these committees, for reasons including but not limited to:
      <ol>
        <li> 
          Violation of the Senate Bylaws, Union Constitution, or external laws and regulations including those set by local, regional, or federal government. 
        </li>
        <li> Mandating the hiring or firing of Institute personnel. </li>
        <li>
          Requesting removal of an elected official without specifying good cause.
        </li>
        <li> Direct personal attacks or slander. </li>
        <li> Sharing of personal or confidential information. </li>
        <li> Inappropriate or profane language. </li>
        <li> Discriminatory or prejudicial content. </li>
        <li> Redundancy with existing petitions. </li>
        <li> Lack of clarity in the petition's goals. </li>
        <li> Spamming of petitions. </li>
      </ol>
      </p>
      <p>
      Petitions out-of-scope for the Student Senate may additionally be referred to other organizations where applicable. In all cases where a petition is removed or referred, its sponsor will be notified of the reason for removal or referral.  
      </p>
      <p>
      To appeal decisions involving a petition's removal or referral, please contact Rules and Elections at 
      <a href="mailto:rne@union.rpi.edu?Subject=Petitions%20Website" target="_top">rne@union.rpi.edu</a>.
      </p>
      <p>
      Full moderation rules may be found in Rules and Elections' official <a href="http://docs.studentsenate.rpi.edu/documents/2743/download">Petition and Referendum Handbook</a>.
      </p>
    </div>
  </div>

</template>
