<template name="petitionProcess">

  <h2 class="text-center lone-header"><p>The Petition Process</p></h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Have an idea.
      </h3>
    </div>
    <div class="panel-body">
      <p> 
        Search for petitions that match your concerns. If a petition for your issue already exists, sign it!  This will help raise support for your cause and reach the threshold of <strong>{{singleton.minimumThreshold}} signatures</strong> (as of {{threshold_last_updated}}) to gain Senate support.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Write your petition.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        <a href="{{pathFor 'postSubmit'}}"> Create a Petition </a> if your issue hasn’t been raised.  Use proper grammar and spelling, and make your description clear so that others can easily find your petition.  Be sure to review our <a href="{{pathFor 'moderation'}}"> Moderation Policy </a> before posting.
      </p>
      <div class="alert alert-warning no-margin">
        Be careful! You can't edit or delete a petition once it is submitted.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Share your petition.
      </h3>
    </div>
    <div class="panel-body">
      <p>Use social media to spread awareness of your issue.</p>
      <p>
        A petition has one year to reach its threshold. If the threshold is not reached, then the petition is archived and available via the search. Student Senate may elect to address a petition prior to reaching its threshold.
      </p>
      <a href="{{pathFor 'postSubmit'}}" class="btn btn-lg btn-primary text-center no-margin full-width">Submit a petition.</a>
    </div>
  </div>

</template>
